1. What are keywords in python? Using the keyword library, print all the python keywords.

In [1]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

2. What are the rules to create variables in python?

Ans: variable can consist of uppercase, lowercase, digits, and underscores. Variable name do not start with digit. Variables are case sensitive

3. What are the standards and conventions followed for the nomenclature of variables in
python to improve code readability and maintainability?

Ans: To improve code readability and maintainability we use some rules

 variable can consist of uppercase, lowercase, digits, and underscores

  Variable name do not start with digit

   Variables are case sensitive

4. What will happen if a keyword is used as a variable name?

Ans: If a keyword is used as a variable name we will get syntax error

5. For what purpose def keyword is used?

Ans: to define a function we use function keyword. It is placed before function

In [2]:
def python_def_keyword():
  print("Hello")
python_def_keyword()

Hello

6. What is the operation of this special character ‘\’?

Ans: it is used to represent whitespace characters

In [4]:
print('apple\torange')

apple	orange

7. Give an example of the following conditions:
(i) Homogeneous list
(ii) Heterogeneous set
(iii) Homogeneous tuple

In [5]:
# Heterogeneous set
myset = {"Greeks", "for", 10, True}
print(myset)

{True, 10, 'Greeks', 'for'}

In [6]:
age = [10,20,30]
print(age)

[10, 20, 30]

8. Explain the mutable and immutable data types with proper explanation & examples.

Ans: mutable data types are list, dictionary, set which means that we can change or modify the object once it is created.

ummutable datatypes are tuples which we cannot change any value or we cannot perform any operation in it once it is created

In [9]:
tuple = ("vasavi", "lakkamraju")
print(tuple)

('vasavi', 'lakkamraju')

In [11]:
tuple[1]=10

TypeError: ignored

In [7]:
list_1 = [10, 20, 30]
print(list_1)

[10, 20, 30]

In [8]:
list_1.append(10)
print(list_1)

[10, 20, 30, 10]

9. Write a code to create the given structure using only for loop.
    *
   ***
  *****
 *******
**********

In [13]:
num_rows = int(input("Enter the number of rows"));
for i in range(0, num_rows):
	for j in range(0, num_rows-i-1):
		print(end=" ")
	for j in range(0, i+1):
		print("*", end=" ")
	print()

Enter the number of rows6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

10. Write a code to create the given structure using while loop.

In [19]:
n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = n
    while j >= i:
        print("|", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows : 6
| | | | | |
| | | | |
| | | |
| | |
| |
|